body {
  background: #221f1f;
  color: black;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}


/* Loader */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Add animation to "page content" */

.Search {
  align-items: center;
  justify-content: center;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  top: 10%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Search input {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20%;
  background: transparent;
  color: #fff;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
  width: 400px;
}

.Search input:focus {
  border: 2px solid #e50914;
  width: 30%;
  width: 400px;
}

.UserProfile {
  margin-left: auto;
}

.Button {
  margin-top: 20px;
  border: 2px solid red;
  color: dodgerblue;
  background-color: white;
  border-color: #2e6da4;
  border-radius: 15px;
  width: 200px;
}

.Button:hover {
  border: 2px solid green;
  background-color: dodgerblue;
  color: white;
}

.usergist {
  border: black;
  background-color: white;
  color: black;
  padding-top: 80px;
  width: 100%;
  padding-left: 30%;
  background: #ffffff;
  padding: 25px;
  margin-left: 20%;
  margin-bottom: 15px;
  text-decoration: none;
  text-align: left;
  display: flex;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
  flex-direction: column;
  border-radius: 10px;
}

.tags {
  padding: 6px 15px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  display: inline-block;
  background-color: black;
  margin: 10px 12px 0 0;
}

.SearchContainer {}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
}

.forkList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.gistCard {
  background: #ffffff;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  text-decoration: none;
  text-align: left;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .2);
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  margin-top: 5%;
}

.gistDesc {
  color: red;
  padding-top: 30px;
}

.userGistDetails {
  margin-top: 15%;
  padding-bottom: 50%;
  width: 70%;
  align-content: center;
  height: 10px;
}

.heroLabel {
  margin-left: 50%;
  margin-bottom: 3%;
  color: white;
}

.gistContainer {}

html {
  height: 100%;
}

body {
  height: 100%;
}

.gistSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.forkList .fork {
  margin: 0 auto 0 0;
}

.photo {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

}

.picStyle {
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 20px;
}
.picStyle  img {
  max-width:100%;
  max-height:100%;
}
